<?xml version='1.0' encoding='utf-8'?>
<plugin id="cordova-plugin-file-upload" version="0.0.1" xmlns="http://apache.org/cordova/ns/plugins/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android">
  <name>fileUpload</name>
  <hook type="after_platform_add" src="hooks/addEmbedded.js" />
  <js-module name="fileUpload" src="www/fileUpload.js">
    <clobbers target="cordova.plugins.fileUpload"/>
  </js-module>
  <platform name="ios">
    <config-file parent="/*" target="config.xml">
      <feature name="fileUpload">
        <param name="ios-package" value="fileUpload"/>
      </feature>
    </config-file>
    <source-file src="src/ios/fileUpload.m"/>
    <framework custom="true" src="src/ios/AFNetworking.framework"/>
    <framework src="Foundation.framework" weak="true"/>
    <framework src="CFNetwork.framework"/>
    <framework src="Security.framework"/>
    <framework src="MobileCoreServices.framework"/>
    <framework src="SystemConfiguration.framework"/>
  </platform>
  <platform name="android">
    <config-file parent="/*" target="res/xml/config.xml">
      <feature name="fileUpload">
        <param name="android-package" value="cordova.plugin.file.upload.fileUpload"/>
      </feature>
    </config-file>
    <config-file parent="/*" target="AndroidManifest.xml"/>
    <source-file src="src/android/fileUpload.java" target-dir="src/cordova/plugin/file/upload"/>
  </platform>
</plugin>
